<a href="https://colab.research.google.com/github/Gyanajitdas/work/blob/main/assinment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#wap to print natural numbers from 1 to n, n is enterd by the user.
n=int(input("enter the number"))

for num in range(1,n+1,1):
 print(num)

enter the number15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
#wap to print table of n,where n is enterd by  the user
n= int(input(" enter the number "))
for i in range(1,11):  #loop use
  print(n,'x',i ,'=',n*i)

 enter the number 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [ ]:
#sum of n natural  numbers where n is enter by the user:
n=int(input("enter the value of n  :"))

sum = 0
i = 1
while i<=n:
  sum = sum+i
  i = i+1

print("the sum of natural number is", sum)

enter the value of n2
the sum of natural number is 3

In [ ]:
#wap to print thr factorial of the given numbers, where number is enterd by the user:
i=int(input("enter a number= :"))
fac=1
while(i>0):
  fac=fac*i
  i=i-1
  print("factorial",i,fac)

enter a number= :5
factorial 4 5
factorial 3 20
factorial 2 60
factorial 1 120
factorial 0 120